.light {
  --md-sys-color-primary: rgb(58 0 138);
  --md-sys-color-surface-tint: rgb(112 54 221);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(85 0 194);
  --md-sys-color-on-primary-container: rgb(191 163 255);
  --md-sys-color-secondary: rgb(104 82 154);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(200 174 255);
  --md-sys-color-on-secondary-container: rgb(84 62 133);
  --md-sys-color-tertiary: rgb(90 0 79);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(128 0 114);
  --md-sys-color-on-tertiary-container: rgb(255 135 228);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(254 247 255);
  --md-sys-color-on-background: rgb(29 26 36);
  --md-sys-color-surface: rgb(254 247 255);
  --md-sys-color-on-surface: rgb(29 26 36);
  --md-sys-color-surface-variant: rgb(232 223 244);
  --md-sys-color-on-surface-variant: rgb(74 68 85);
  --md-sys-color-outline: rgb(123 116 134);
  --md-sys-color-outline-variant: rgb(204 195 215);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 47 57);
  --md-sys-color-inverse-on-surface: rgb(246 238 252);
  --md-sys-color-inverse-primary: rgb(209 188 255);
  --md-sys-color-primary-fixed: rgb(234 221 255);
  --md-sys-color-on-primary-fixed: rgb(36 0 91);
  --md-sys-color-primary-fixed-dim: rgb(209 188 255);
  --md-sys-color-on-primary-fixed-variant: rgb(87 9 196);
  --md-sys-color-secondary-fixed: rgb(234 221 255);
  --md-sys-color-on-secondary-fixed: rgb(35 7 83);
  --md-sys-color-secondary-fixed-dim: rgb(209 188 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(80 57 129);
  --md-sys-color-tertiary-fixed: rgb(255 215 240);
  --md-sys-color-on-tertiary-fixed: rgb(58 0 51);
  --md-sys-color-tertiary-fixed-dim: rgb(255 172 232);
  --md-sys-color-on-tertiary-fixed-variant: rgb(131 5 117);
  --md-sys-color-surface-dim: rgb(223 215 229);
  --md-sys-color-surface-bright: rgb(254 247 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(249 241 255);
  --md-sys-color-surface-container: rgb(243 235 249);
  --md-sys-color-surface-container-high: rgb(237 229 243);
  --md-sys-color-surface-container-highest: rgb(231 224 237);
}
